<?xml version="1.0"?>
<launch>
        <arg name="vehicle" default="iris"/>
        <arg name="consensus" default="false"/>
        <arg name="rate" default="200"/>

        <group ns="$(arg vehicle)_1">
                <param name="ID" value="1" />
                <param name="vehicle" value="$(arg vehicle)" />
                <param name="rate" value="$(arg rate)"/>

                <node name="synchronizer" pkg="state_estimation" type="self_msg_sync" output="screen"></node>
                <node name="state_estimation" pkg="state_estimation" type="state_estimation" output="screen"></node>
        </group>
</launch>